<!DOCTYPE html>
<html>
  <title>Accès non autorisé</title>
  <head>
  </head>

  <body>
	<div class="container">
		<h1>Accès non authorisé</h1>
		<h3>Vous n'avez pas les autorisations pour accéder à ce contenu</h3>
		<a href="{{ path('asso_sport_accueil_projet') }}" class="btn btn-default " role="button">Accueil</a>
	</div>
    </body>
</html>
