<!DOCTYPE html>
<html>
  <head>
    <title>Projet Terre-Lune</title>
  </head>
  <body>
    <h1>Parcourez ensemble la distance Terre-Lune!</h1>
    <p>
    {{ utilisateur.nom }} {{ utilisateur.prenom }} vous êtes inscrit pour contribuer à ce projet!
    Vous devez parcourir {{}} km par semaine
    </p>
  </body>
</html>