<!DOCTYPE html>

<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>An Error Occurred: {{ status_text }}</title>

  </head>

  <body>

    <h1>Wooops, une erreur est survenue, ne paniquez pas !</h1>

    <h2>L'erreur retournée par le serveur est : "{{ status_code }} {{ status_text }}".</h2>


    <div>

      Quelque chose ne fonctionne pas, merci de contactez l'administrateur du site en indiquant ce que vous faisiez
      lorsque cette erreur est survenue :).

    </div>

  </body>

</html>
