{% extends "::base.html.twig" %}

{% block title %}Distance projet Terre Lune{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
      <div class="col-sm-12">
        <h1>Distance effectuée pour le projet:</h1>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-12 text-center">
        <p>
        <strong>
          La distance parcourue depuis le lancement du projet est de {{ distance }} km / {{ projet.objectif }} km
        </strong>
        </p>
     </div>
    </div>

{% endblock %}
