<!DOCTYPE html>
<html>
  <head>
    <title>Voici la distance totale effectuée pour le projet</title>
  </head>
  <body>
    <h1>Distance effectuée pour le projet:</h1>
    <p>
    La distance parcourue depuis le lancement du projet est de {{ distance }} km / {{ projet.objectif }} km
   
    </p>
  </body>
</html>