{% extends "::base.html.twig" %}
  {% block body %}

    <div class="container">
      <div class="col-sm-10">
        <h1>Voici le nombre de personnes inscrites par catégories:</h1>
      </div>
    </div>

    <div class="container">
      <p>
      Nombre de personnes en catégorie Le 1er quartier: {{ nbUtilisateursUn }} <br />
      Nombre de personnes en catégorie Le Croissant: {{ nbUtilisateursDeux }} <br />
      Nombre de personnes en catégorie La gibeuse: {{ nbUtilisateursTrois }} <br />
      Nombre de personnes en catégorie La pleine lune: {{ nbUtilisateursQuatre }} <br />
      </p>
    </div>

{% endblock %}
