.image-asso {
  width:50%;
  height:50%;
  border-radius:50%;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button-asso {
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 3em;
  margin-bottom: 10px;
}


.button-project, .button-perso  {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  font-size: 5em;
}
.button-perso {
  background-color: #00B0AD;
}
.button-project {
  background-color: #F6722F;
}


.button-asso-left, .button-asso-right {
  border-color: #E3E3E3;
}
.button-asso-left {
  border-right-style: solid;
}
.button-asso-right {
  border-left-style: solid;
}

h2 {
  color : #29CFA3;
  font-size: 4em;
}

.navbar-default {
  background-color: #28cea2;
  border-color: #0d8767;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #09634b;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #09634b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #09634b;
  background-color: #0d8767;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #09634b;
  background-color: #0d8767;
}
.navbar-default .navbar-toggle {
  border-color: #0d8767;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0d8767;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #09634b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #09634b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #09634b;
    background-color: #0d8767;
  }
}
