html {
  position: relative;
  min-height: 100%;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 4.5em;
    height: 4.5em;
    padding-top: 0;
    font-size : 120%;
}

body {
  padding-top: 90px;
  background-color: white;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

footer {
  display: block;
}

.initiallyHidden {
  display: none;
}

.logo-asso {
  width: 5em;
  height: 4em;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .navbar {
    position:absolute;
    max-height: 300px;
    text-align: center;
  }
  body {
    padding-top: 300px;
    margin-bottom: 100px;
  }
}
