html {
  position: relative;
  min-height: 100%;
}

.navbar-default {
  background-color: #28CEA2;
  border-color: #6E6E6E;
  color : #E0E0E0;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #666666;
  color:#E0E0E0;
}

body {
  padding-top: 70px;
  background-color: white;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: grey;
}

footer {
  display: block;
}

.initiallyHidden {
  display: none;
}

.logo-asso {
  width:4em;
  height:3em;
}
