<!DOCTYPE html>
<html>
  <head>
    <title>Affichage du nouveau membre</title>
  </head>
  <body>
    <h1>Bonjour membre n°{{ utilisateur.id }} !</h1>
    <p>Vous êtes {{ utilisateur.Nom }} {{ utilisateur.Prenom }}. <<br />
    Vous êtes maintenant inscrit sur note site :)
    </p>
  </body>
</html>
